body{
    font-size: 20px;
}

#container{
    margin: 20px auto;
    background-color: white;
    height: 300px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    text-align: center;
    padding: 50px;
}

#start{
    font-size: 30px;
    font-weight: bolder;
    word-break: break-all;  
    width: 400px;
    height: 50px;
    border: 2px solid gray;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 150px;
    top: 200px;   
    color: gray;
}

#start:hover{
    border: 3px solid greenyellow;
    color: greenyellow;
}

#questionImage{
    width: 1px;
    height: 100px;
    position: absolute;
    left: 30px;
    top: 25px;
}
#questionImage img{
    width: 100px;
    height: 100px;
    border-top-left-radius: 5px;
}

#question{
    width: 500px;
    height: 125px;
    position: absolute;
    right: 0;
    top: 0;
}

#question p{
    margin: 0;
    padding: 25px;
    font-size: 30px;
}

#choices{
    width: 480px;
    position: absolute;
    right: 0;
    top: 125px;
    padding: 5px
}

.choice{
    display: inline-block;
    width: 135px;
    text-align: left;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.choice:hover{
    border: 2px solid grey;
    color: white;
    background-color: grey;
}

#timer{
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0px;
    text-align: center;
}
#counter{
    font-size: 20px;
    text-align: relative;
    font-weight: bold;
}

#btimeGauge{
    width: 100px;
    height: 10px;
    border-radius: 10px;
    background-color: lightgray;
}

#timeGauge{
    height: 10px;
    border-radius: 10px;
    background-color: yellowgreen;
    margin-top: -10px;
}

#scoreContainer{
    margin: 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}

#scoreContainer img{
    position: absolute; 
    top: 100px;
    left: 325px;
}

#scoreContainer p{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 130px;
    left: 325px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}




